.Navbar{
    background-color: skyblue !important;
    position: fixed !important;
    top: 0% !important;
    width: 100% !important;
}

.h-link{
    display: flex !important;
    justify-content: end !important;
}